.dokuwiki .secedit.editbutton_section .btn_secedit button {
    user-select: none;

    transition: border 350ms; // time should match JS code LONGPRESS const

    &.selected {
        border-style: dashed;
        border-color: @ini_link;
        border-width: 2px;
    }
}
